body{
	 position:relative;
	background-color:#E3E4E5;
}


h1{
	
	font: 400 2em ARIAL, sans-serif;
	  text-align:center;
	   position:relative;
	  background-color:#E3E4E5;
	  color: #000000;
	  text-decoration:underline;
	  
	
}

h2{
	  
	  font: 400 1.8em ARIAL, sans-serif;
	  text-align:center;
	   position:relative;
	  background-color:#E3E4E5;
	  color: #000000;
	  
	  
  }




 
  
  section.calculadora{
	  
	  text-align:center;
	   position:relative;
	
	 
  }
  input[type=text]{
	  
	  
	  margin: 0.5em;
	  font: 400 1.5em ARIAL, sans-serif;
	  color: #000000;
	   position:relative;
	   background-color:#FFFFFF;
	   width:20%;
	   height:2em;
  }
  
  label{
	  font: 400 1.5em ARIAL, sans-serif;
	  color: #000000;
	   position:relative;
  }
  
  
  input[type=button]{
	  
	  
	  margin: 0.2em 0.4em;
	  font: 400 1em ARIAL, sans-serif;
	  color: #FFFFFF;
	   position:relative;
	   background-color:#828282;
	   width:8em;
	   height:3em;
	   
  }
	  
  
  
  