body {
	  
      font:400 1em ARIAL, sans-serif; /*Familia sans-serif*/
      color: #000000;
	  background-color:#E3E4E5;
	   text-align:left;
	line-height: 1.5;
	 position:relative;
	  
  }
h1 {
	  font: 400 3em ARIAL, sans-serif ;		
      background-image:url("multimedia/TituloBackground.jpg");
	  background-size: cover;
	  background-repeat: no-repeat;
    background-color:#000000;
      color: #FFFFFF;
      text-transform: uppercase;
	  padding: 1.8em 1em;
	  position:relative;
	  text-align:center;
    
  }
  
  
  
  
  h2{
	  
	  font: 400 1.8em ARIAL, sans-serif;
	  
	  background-color:#E3E4E5;
	  color: #000000;
	  text-decoration:underline;
	  position:relative;
	text-align:center;
	  
  }
  
  
  h3{
	  
	  font: 400 1.5em ARIAL, sans-serif;
	  background-color:#E3E4E5;
	  color: #000000;
	  position:relative;
	text-align:left;
	  
  }
  
  h4{
	  font: 400 1.2em ARIAL, sans-serif;
	  background-color:#E3E4E5;
	  color: #000000;
	  position:relative;
	text-align:left;
	  
  }
  
  li{
	  
	  list-style-type: square;
	  font:1em helvetica, sans-serif;
	  font-weight:bold;
	  position:relative;
	text-align:left;
	  
  }
  
  table{
	 
	  
	  border-collapse: collapse;
	  background-color:#BDBDBD;
	  font: 400 1.05em Tahoma, sans-serif;
	  color: #000000;	
position:relative;
	 text-align:center;
	max-width:100%;
	  margin:0 auto;	  
	 
	  
	  
	  
  }
  
  thead{
	  font: 1.1em Tahoma, sans-serif;
	  font-weight:bold;
	  color: #000000;
	  background-color:#E3E4E5;
	  
	  
	  
	  
  }
  
  td{
	  
	  border: black 0.15em solid;
	  
	  
	 
	  
  }
  
  label{
	  font: 400 1.5em ARIAL, sans-serif;
	  color: #000000;
  }
  
  
  
  
  
  
  
  
  
 


