body{
	
	font: 400 1em ARIAL, sans-serif;
	color: #000000;
	background-color:#E3E4E5;
}


h1{
	
	font: 400 2em ARIAL, sans-serif;
	  text-align:center;
	  background-color:#E3E4E5;
	  color: #000000;
	  text-decoration:underline;
	  
	
}

h2{
	  
	  font: 400 1.8em ARIAL, sans-serif;
	  text-align:center;
	  background-color:#E3E4E5;
	  color: #000000;
	  
	  
  }


  b{
	  font: 400 1.5em ARIAL, sans-serif;
	  text-align:center;
	  background-color:#E3E4E5;
	  color: #000000;
	  
  }

 
  
  section.calculadora{
	  
	  text-align:center;
	
	 
  }
  input[type=text]{
	  
	  margin-bottom:1em;
	  
	  font: 400 1.5em ARIAL, sans-serif;
	  color: #000000;
	   background-color:#FFFFFF;
	   width:3em;
	   height:1.5em;
  }
  
  div.pila{
	  
	  overflow-y: scroll;
	  text-align:center;
	   background-color:#FFFFFF ;
	   color: #000000;
	   font: 400 1.3em ARIAL, sans-serif;
	   height:6em;
	   margin-left:5%;
	   margin-right:5%;
	   margin-bottom:0.5em;
	  
  }
  
  ul{
	  list-style:none;
  }
  
 
  
  input[type=button]{
	  
	  
	  margin: 0.2em 0.2em;
	  font: 400 1em ARIAL, sans-serif;
	  color: #FFFFFF;
	   background-color:#828282;
	   width:20em;
	   height:3em;
  }
  
  label{
	  font: 400 1em ARIAL, sans-serif;
	  color: #000000;
	background-color:#E3E4E5;
  }
  
  
	  
  
  
  